.block {
  padding-top: ($spacer * 1);
  padding-bottom: ($spacer * 1);

  @include mq($from: m) {
    padding-top: ($spacer * 2);
    padding-bottom: ($spacer * 2);
  }

  /*
  &__inner {

  }
  */

  &__split {
    @include mq($from: m) {
      @include span(4 of $column-large);
    }

    &:last-of-type {
      margin-top: ($spacer * 2);

      @include mq($from: m) {
        @include last();

        margin-top: 0;
      }
    }
  }
}
