.form {
  display: block;
  margin-top: ($spacer * 2);

  &__label {
    margin-right: 5px;
    margin-bottom: 10px;
    display: inline-block;
  }

  &__input {
    width: 100%;
    margin-right: 15px;
    margin-bottom: 20px;
    display: block;
    padding: 12px 12px;
    border: 1px solid $brand-b;
    appearance: none;
    border-radius: 0;
    box-shadow: none;
    max-width: 300px;
    font-size: $font-size-primary;

    @include mq($from: s) {
      margin-bottom: 0px;
      display: inline-block;
    }

    @include mq($from: m) {
      font-size: $font-size-primary-lg;
    }
  }

  &__submit {
    display: block;
    padding: 12px 36px;
    appearance: none;
    background: none;
    border-radius: 0;
    border: 1px solid $brand-b;
    font-size: $font-size-primary;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    @include mq($from: s) {
      display: inline-block;
    }

    @include mq($from: m) {
      font-size: $font-size-primary-lg;
    }

    &:hover {
      color: $brand-a;
      border: 1px solid $brand-a;
    }
  }
}
