// Typography styles
$Typography: (
  h1: (
    font-size: 30px,
    font-size-lg: 49px,
    font-family: $font-headline,
    font-weight: $font-headline-weight,
    line-height: 1.2,
    margin-bottom: ($spacer * 2),
    letter-spacing: 20
  ),
  h2: (
    font-size: 24px,
    font-size-lg: 35px,
    font-family: $font-headline,
    font-weight: $font-headline-weight,
    line-height: 1,
    margin-bottom: ($spacer * 2),
    letter-spacing: 20
  )
);

// Produces .h1, h1, .h2, h2, etc...
@for $i from 1 to 3 {
  h#{$i},
  .h#{$i} {
    font-size: map-deep-get($Typography, h#{$i}, font-size);
    line-height: map-deep-get($Typography, h#{$i}, line-height);
    margin-bottom: map-deep-get($Typography, h#{$i}, margin-bottom);
    font-family: map-deep-get($Typography, h#{$i}, font-family);
    font-weight: map-deep-get($Typography, h#{$i}, font-weight);
    margin-top: 0;
    @include letter-spacing(map-deep-get($Typography, h#{$i}, letter-spacing));

    @include mq($from: m) {
      font-size: map-deep-get($Typography, h#{$i}, font-size-lg);
    }
  }
}

ul {
  padding-left: ($spacer * 2);

  &:last-of-type {
    margin-bottom: 0;
  }
}

p {
  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

p,
li {
  line-height: 1.5;
  font-size: $font-size-primary;

  @include mq($from: m) {
    font-size: $font-size-primary-lg;
  }
}

b,
strong {
  font-family: $font-headline;
  font-weight: $font-headline-weight;
}

a {
  color: inherit;
  text-decoration: none;
  position: relative;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #111;
    transform: scaleX(1);
    transition: all 200ms ease-in-out;
  }

  &:hover {
    color: $brand-a;

    &::before {
      transform: scaleX(0);
    }
  }
}
