---
title: Phil Lennon (frontendphil) - Freelance Frontend Web Development services
description: Providing bespoke, hand crafted static or WordPress websites on a freelance basis. Based in Mancheser, United Kingdom
layout: default.hbs
permalink: false
appName: home
---

<div class="container">
  <h1 class="h1">frontendphil</h1>
  <h2 class="h3">Phil Lennon - Freelance Frontend Developer &amp; Consultant</h2>
  <p>I specialise in building hand crafted and high performance bespoke websites. I don't use ready made frameworks and themes, unless they are directly beneficial to the project. I don't take shortcuts.</p>
  <p>I build WordPress websites from scratch.</p>
  <p>I consult and craft modern digital workflows.</p>
  <p>I work on-site or remotely from my office. Based in Manchester City Centre, but can relocate.</p>

  {{>available-yes }}
  {{!>available-no date='August'}}

  {{>mailchimp}}

  <h2 class="h2">Experience</h2>
  <p>10 years professional experience, including working at the following:</p>
  <ul class="examples__list">
    <li class="examples__item">Amaze,</li>
    <li class="examples__item">Havas Lynx (x2),</li>
    <li class="examples__item">Building Blocks (x2),</li>
    <li class="examples__item">Anything Agency,</li>
    <li class="examples__item">Loaf Creative,</li>
    <li class="examples__item">Uniform Communications,</li>
    <li class="examples__item">Health and Safety Executive,</li>
  </ul>

  <p>Some of the brands I have worked on include:</p>
  <ul class="examples__list">
    <li class="examples__item">NSPCC,</li>
    <li class="examples__item">The Crabbies Grand National,</li>
    <li class="examples__item">The Peel Group,</li>
    <li class="examples__item">Universal,</li>
    <li class="examples__item">Powerleague.</li>
  </ul>

  <h2 class="h2">Side Projects</h2>
  <p>I am the Lead Frontend &amp; UX Developer for <a href="http://streetsupport.net">Street Support</a>. A network of kind-hearted folk working together to help end homelessness in Manchester. The website has been open sourced on <a href="https://github.com/StreetSupport/streetsupport-web">GitHub</a>.</p>
 <p>I am a mentor for <a href="http://codeupmcr.co.uk">CodeUp UK</a> Manchester, Stockport &amp; Sheffield, answering frontend questions and providing career advice to interested individuals on a casual, drop-in basis.</p>

  <h2 class="h2">Contact</h2>
    <ul class="contact__list">
      <li class="contact__item">Email: <a href="mailto:enquiry@frontendphil.com">enquiry@frontendphil.com</a></li>
      <li class="contact__item">Telephone: <a href="tel:+443334441250">+44 333 444 1250</a></li>
      <li class="contact__item">Skype: <a href="skype:frontend.phil?call">frontend.phil</a></li>
      <li class="contact__item">Twitter: <a href="https://twitter.com/frontendphil">@frontendphil</a></li>
      <li class="contact__item">LinkedIn: <a href="https://uk.linkedin.com/in/frontendphil">Profile</a></li>
      <li class="contact__item">Github: <a href="https://github.com/fephil">fephil</a></li>
      <li class="contact__item">Trello: <a href="http://bit.ly/life-list">Life Goals List</a></li>
    </ul>
</div>
