---
title: Phil Lennon (frontendphil) - A Freelance Lead Frontend, UI & Hybrid App Consultant in Manchester, United Kingdom.
description: Providing bespoke, hand crafted websites and hybrid apps. Helping to shape teams on a freelance basis.
layout: default.hbs
permalink: false
appName: home
priority: 1.0
public: true
---

<header class="block photo m-t-1">
  <div class="block__inner container">
    <h1 class="h1 m-b-05">frontendphil - Phil Lennon</h1>
    {{!>available-techforgood }}
    {{!>available-yes }}
    {{!>available-no date='Q3 2019'}}
    {{>available-no-generic}}

    <img class="m-t-1 m-b-1" src="{{path.url}}assets/img/frontendphil-landscape.jpg" alt="Picture of me (Phil Lennon) speaking at Frontend North 2016">

    <p>Freelance Lead Frontend, UI &amp; Hybrid App Consultant, Based in Manchester, UK.</p>
    <p>Part of the <a href="https://www.groupofhumans.com/">GROUP OF HUMANS</a>. A curated network of the best designers, strategists, technologists and creatives in the world (seriously, they are great).</p>
    <p>Specialises in: Frontend Workflows, Performance, Architecture, Accessibility, Object Orientated/BEMIT &amp; Scoped CSS, Angular (latest), Vue.js, Ionic (latest), SPA's, Webpack &amp; Headless CMS.</p>
    <p>There is no point writing beautiful code if there isn't a beautiful user experience to go with it, so I am a user first Consultant who works closely with design and strategy leads to deliver the best product that "just works".</p>
  </div>
</header>

<div class="block">
  <div class="block__inner container">
    <h2 class="h2">Experience</h2>
    <p class="m-b-1">12 years professional experience.</p>

      <p class="m-b-0">Featured projects:</p>
      <ul class="m-b-2">
        <li>SeeSaw by Netmums App, <br /> <small>Featured by Apple on the App Store 'New Apps We Love',</small></li>
        <li><a href="http://fashioninstitute.mmu.ac.uk/">Manchester Metropolitan University Fashion Institute,</a></li>
        <li><a href="https://www.nspcc.org.uk/">NSPCC.</a></li>
      </ul>

      <p>Worked with:</p>
      <ul class="list-split">
        <li>Anything Agency,</li>
        <li>Building Blocks,</li>
        <li>Havas Lynx,</li>
        <li>Manchester Airport Group,</li>
        <li>Street Support,</li>
        <li>Rental Cars,</li>
        <li>Amaze,</li>
        <li>Reason Digital,</li>
        <li>Manchester Metropolitan University,</li>
        <li>Netmums,</li>
        <li>Quorn,</li>
        <li>Adidas,</li>
        <li>Powerleague,</li>
        <li>Bolongaro Trevor,</li>
        <li>Loaf Creative,</li>
        <li>Health and Safety Executive,</li>
        <li>Universal Orlando.</li>
      </ul>
  </div>
</div>

<div id="contact" class="block m-b-4">
  <div class="block__inner container">
    <h2 class="h2">Contact</h2>
    <ul>
      <li>Email: <a href="mailto:enquiry@frontendphil.com">enquiry@frontendphil.com</a>,</li>
      <li>Telephone: <a href="tel:+443334441250">0333 444 1250</a>,</li>
      <li>Twitter: <a href="https://twitter.com/frontendphil">@frontendphil</a>,</li>
      <li>Github: <a href="https://github.com/fephil">fephil</a>,</li>
      <li>LinkedIn: <a href="https://www.linkedin.com/in/frontendphil">frontendphil</a>,</li>
      <li>Trello: <a href="http://bit.ly/life-list">Life Goals List</a>,</li>
      <li>Instagram: <a href="https://www.instagram.com/philjameslennon/">philjameslennon</a>.</li>
    </ul>
  </div>
</div>
