---
title: Phil Lennon (frontendphil) - Freelance Frontend & WordPress Web Development services
description: Providing bespoke, hand crafted static or WordPress websites on a freelance basis. Based in Mancheser, United Kingdom
layout: default.hbs
permalink: false
appName: home
priority: 1.0
public: true
---

<header class="block photo m-t-1">
  <div class="block__inner container">
    <div class="photo__primary">
      <h1 class="h1">frontendphil</h1>
      {{!>available-yes }}
      {{>available-no date='around June'}}

      <p>Phil Lennon - Freelancing on site in Manchester or working remotely.</p>
      <p>HTML, CSS, JavaScript, Accessibility, Hybrid Apps, UX, Wordpress, Mentor, Occasional Speaker.</p>
      <p><a href="#contact">Get in touch</a> for a coffee. I'm normally somewhere in the Northern Quarter.</p>
    </div>
    <div class="photo__secondary">
      <picture>
        <source srcset="{{path.url}}assets/img/frontendphil-portrait.jpg" media="(min-width: 700px)">
        <img srcset="{{path.url}}assets/img/frontendphil-landscape.jpg" alt="Picture of Phil Lennon speaking at Frontend North 2016">
      </picture>
    </div>
  </div>
</header>

<div class="block">
  <div class="block__inner container">
    <h2 class="h2">Experience</h2>
    <p class="m-b-1">10 years professional experience.</p>

    <div class="block__split">
      <p>Working at:</p>
      <ul>
        <li>Anything Agency (x4),</li>
        <li>Building Blocks (x3),</li>
        <li>Havas Lynx (x2),</li>
        <li>Amaze,</li>
        <li>Reason Digital,</li>
        <li>Loaf Creative,</li>
        <li>Health and Safety Executive.</li>
      </ul>
    </div>

    <div class="block__split">
      <p>Working on:</p>
      <ul>
        <li>Manchester Metropolitan University (MMU),</li>
        <li>Netmums,</li>
        <li>NSPCC,</li>
        <li>The Crabbies Grand National,</li>
        <li>The Peel Group,</li>
        <li>Universal Orlando,</li>
        <li>Powerleague,</li>
        <li>Street Support.</li>
      </ul>
    </div>
  </div>
</div>

<div class="block">
  <div class="block__inner container">
    <h2 class="h2">Availability Mailing List</h2>
    {{>mailchimp}}
  </div>
</div>

<div id="contact" class="block m-b-1">
  <div class="block__inner container">
    <h2 class="h2">Contact</h2>
    <ul>
      <li>Email: <a href="mailto:enquiry@frontendphil.com">enquiry@frontendphil.com</a>,</li>
      <li>Telephone: <a href="tel:+443334441250">0333 444 1250</a>,</li>
      <li>Skype: <a href="skype:frontend.phil?call">frontend.phil</a>,</li>
      <li>Twitter: <a href="https://twitter.com/frontendphil">@frontendphil</a>,</li>
      <li>Github: <a href="https://github.com/fephil">fephil</a>,</li>
      <li>LinkedIn: <a href="https://www.linkedin.com/in/frontendphil">frontendphil</a>,</li>
      <li>Trello: <a href="http://bit.ly/life-list">Life Goals List</a>,</li>
      <li>Instagram: <a href="https://www.instagram.com/frontend.phil/">frontend.phil</a>.</li>
    </ul>
  </div>
</div>
