---
title: Phil Lennon (frontendphil) - Was a Freelance Lead Frontend, UI & Hybrid App Consultant in Manchester, United Kingdom.
description: Provided bespoke, hand crafted websites and hybrid apps. Helped to shape teams on a consultancy basis.
layout: default.hbs
permalink: false
appName: home
priority: 1.0
public: true
---

<header class="block photo m-t-1">
  <div class="block__inner container">
    <h1 class="h1 m-b-05">frontendphil - Phil Lennon</h1>
    {{!>available-techforgood }}
    {{!>available-yes }}
    {{!>available-no date='Q3 2019'}}
    {{!>available-no-generic}}
    {{>available-no-perm}}

    <img class="m-t-1 m-b-1" src="{{path.url}}assets/img/frontendphil-landscape.jpg" alt="Picture of me (Phil Lennon) speaking at Frontend North 2016">
  </div>
</header>

<div id="contact" class="block m-t-1 m-b-1">
  <div class="block__inner container">
    <h2 class="h2">Contact</h2>
    <ul>
      <li>Email: <a href="mailto:enquiry@frontendphil.com">enquiry@frontendphil.com</a>,</li>
      <li>Twitter: <a href="https://twitter.com/frontendphil">@frontendphil</a>,</li>
      <li>LinkedIn: <a href="https://www.linkedin.com/in/frontendphil">frontendphil</a>,</li>
      <li>Trello: <a href="http://bit.ly/life-list">Life Goals List</a>,</li>
      <li>Instagram: <a href="https://www.instagram.com/philjameslennon/">philjameslennon</a>.</li>
    </ul>
  </div>
</div>
