---
title: Phil Lennon (frontendphil) - Freelance Frontend Web Development services
description: Providing bespoke, hand crafted static or WordPress websites on a freelance basis. Based in Mancheser, United Kingdom
layout: default.hbs
permalink: false
appName: home
---

<div class="container">
  <h1 class="h1">frontendphil</h1>
  <h2 class="h3">Phil Lennon - Freelance Frontend Developer &amp; Consultant</h2>
  <p>I specialise in building hand crafted and high performance bespoke websites. I don't use ready made frameworks and themes, unless they are directly beneficial to the project. I don't take shortcuts.</p>
  <p>I build WordPress websites from scratch.</p>
  <p>I consult and craft <a href="https://github.com/fephil/garrus">modern digital workflows</a>.</p>
  <p>Working and travelling around Europe. Looking for new connections and opportunities.</p>

  <h3 class="h3">In Berlin until End September</h3>

  {{!>available-yes }}
  {{!>available-no date='August'}}

  <h2 class="h2">Experience</h2>
  <p>10 years professional experience, including working at the following:</p>
  <ul class="examples__list">
    <li class="examples__item">Havas Lynx (x2),</li>
    <li class="examples__item">Building Blocks (x2),</li>
    <li class="examples__item">Anything Agency (x2),</li>
    <li class="examples__item">Amaze,</li>
    <li class="examples__item">Loaf Creative,</li>
    <li class="examples__item">Uniform Communications,</li>
    <li class="examples__item">Health and Safety Executive.</li>
  </ul>

  <p>Some of the brands I have worked on include:</p>
  <ul class="examples__list">
    <li class="examples__item">NSPCC,</li>
    <li class="examples__item">The Crabbies Grand National,</li>
    <li class="examples__item">The Peel Group,</li>
    <li class="examples__item">Universal,</li>
    <li class="examples__item">Powerleague,</li>
    <li class="examples__item">Netmums.</li>
  </ul>

  <h2 class="h2">Side Projects &amp; Volunteer Work</h2>
  <p>I am the Lead Frontend &amp; UX Developer for <a href="http://streetsupport.net">Street Support</a>. A network of kind-hearted folk working together to help end homelessness in Manchester. The website has been open sourced on <a href="https://github.com/StreetSupport/streetsupport-web">GitHub</a>.</p>
 <p>I am a mentor for <a href="http://codeupmcr.co.uk">CodeUp UK</a> Manchester, Stockport &amp; Sheffield, answering frontend questions and providing career advice to interested individuals on a casual, drop-in basis.</p>
 <p>I am interested in working on a new charity project. Please contact me if you would like to work with me.</p>

  <h2 class="h2">Speaking</h2>
  <p>Please contact me if you would be interested in having me speaking at your event.</p>
  <p>I will be speaking next at <a href="http://frontendnorth.com">Frontend North</a> on September 30th.</p>
  <p>I have previously spoken at:</p>
  <ul class="examples__list">
    <li class="examples__item"><a href="http://forefront.cc/forefront-no11-july-5th-at-the-belgrave/">Forefront Leeds #11</a> - StreetSupport: A Frontend Retrospective &amp; Discussion Panel,</li>
    <li class="examples__item"><a href="https://manchestertechnights.org/9/">Manchester Tech Nights #9</a> - A Year in Freelancing: The Good, The Bad and the Beard,</li>
    <li class="examples__item"><a href="http://s10wen.com/blog/2015/09/03/McrFRED-30-Freelance-Special/">MCR Fred #30</a> - Freelancing Tips &amp; Freelance Panel Discussion.</li>
  </ul>

  <h2 class="h2">Contact</h2>
    <ul class="contact__list">
      <li class="contact__item">Email: <a href="mailto:enquiry@frontendphil.com">enquiry@frontendphil.com</a>,</li>
      <li class="contact__item">Telephone: <a href="tel:+443334441250">+44 333 444 1250</a>,</li>
      <li class="contact__item">Skype: <a href="skype:frontend.phil?call">frontend.phil</a>,</li>
      <li class="contact__item">Twitter: <a href="https://twitter.com/frontendphil">@frontendphil</a>,</li>
      <li class="contact__item">Github: <a href="https://github.com/fephil">fephil</a>,</li>
      <li class="contact__item">LinkedIn: <a href="https://www.linkedin.com/in/frontendphil">frontendphil</a>,</li>
      <li class="contact__item">Instagram: <a href="https://www.instagram.com/frontend.phil/">frontend.phil</a>,</li>
      <li class="contact__item">Trello: <a href="http://bit.ly/life-list">Life Goals List</a>.</li>
    </ul>

  {{! <h2 class="h2">Availability Mailing List</h2> }}
  {{!>mailchimp}}
</div>
