---
title: frontendphil - Freelance Frontend Web Development services
description: Phil Lennon. Providing Freelance Frontend Web Development services
layout: default.hbs
permalink: false
appName: home
---

<div class="container">
  <h1 class="h1">Phil Lennon</h1>
  <p>Freelance Frontend Developer &amp; Consultant. Currently based in Manchester, happy to work abroad. Remote working desirable.</p>
  <h2 class="h2">Availability</h2>
  {{!>available-yes }}
  {{>available-no date='29th February'}}

  <h2 class="h2">Experience</h2>
  <p>10 years professional experience, including working at the following:</p>
  <ul class="examples__list">
    <li class="examples__item">Amaze</li>
    <li class="examples__item">Havas Lynx (x2)</li>
    <li class="examples__item">Building Blocks (x2)</li>
    <li class="examples__item">Loaf Creative</li>
    <li class="examples__item">Ampersand Commerce</li>
    <li class="examples__item">Uniform Communications</li>
    <li class="examples__item">Health and Safety Executive</li>
  </ul>

  <p>I am also a mentor at <a href="http://codeupmcr.co.uk">Code Up Manchester.</a></p>

  <h2 class="h2">Examples</h2>
  <p>The majority of my work and services are under NDA, but I can show:</p>
  <ul class="examples__list">
    <li class="examples__item"><a href="http://streetsupport.net">Street Support</a> - Frontend Development, Workflow &amp; UX Development. View <a href="https://github.com/StreetSupport/streetsupport-web">source code.</a></li>
    <li class="examples__item"><a href="http://nspcc.org.uk">NSPCC</a> - Frontend Development</li>
    <li class="examples__item"><a href="http://thecrabbiesgrandnational.co.uk">The Crabbies Grand National</a> - Frontend &amp; WordPress Development</li>
  </ul>

  <h2 class="h2">Contact</h2>
    <ul class="contact__list">
      <li class="contact__item">Email: <a href="mailto:enquiry@frontendphil.com">enquiry@frontendphil.com</a></li>
      <li class="contact__item">Telephone: <a href="tel:+443334441250">+44 333 444 1250</a></li>
      <li class="contact__item">Skype: <a href="skype:frontend.phil?call">frontend.phil</a></li>
      <li class="contact__item">Twitter: <a href="https://twitter.com/frontendphil">@frontendphil</a></li>
      <li class="contact__item">LinkedIn: <a href="https://uk.linkedin.com/in/frontendphil">Profile</a></li>
      <li class="contact__item">Github: <a href="https://github.com/fephil">fephil</a></li>
      <li class="contact__item">Trello: <a href="http://bit.ly/life-list">Life List</a></li>
    </ul>
</div>
