---
title: Phil Lennon - Freelance Frontend Web Development and WordPress services, based in Manchester
description: Phil Lennon - Freelance Frontend Web Development and WordPress services, based in Manchester
layout: default.hbs
permalink: false
appName: home
---

<div class="container">
  <h1 class="h1">Phil Lennon - I am currently rebranding</h1>
  <h2 class="h2">Availability</h2>
  <p>Now available for short term projects. Remote working desirable. Happy to work abroad.</p>

  <h2 class="h2">Previous experience</h2>
  <p>10 years professional experience, including:</p>
  <ul class="examples__list">
    <li class="examples__item">Amaze</li>
    <li class="examples__item">Havas Lynx (x2)</li>
    <li class="examples__item">Building Blocks (x2)</li>
    <li class="examples__item">Loaf Creative</li>
    <li class="examples__item">Ampersand Commerce</li>
    <li class="examples__item">Uniform Communications</li>
    <li class="examples__item">Health and Safety Executive</li>
  </ul>

  <h2 class="h2">Work examples</h2>
  <p>The majority of my work and services are under NDA, but I can show:</p>
  <ul class="examples__list">
    <li class="examples__item"><a href="http://streetsupport.net">Street Support</a> - Frontend Development, Workflow &amp; UX Development. View <a href="https://github.com/StreetSupport/streetsupport-web">source code.</a></li>
    <li class="examples__item"><a href="http://nspcc.org.uk">NSPCC</a> - Frontend Development</li>
    <li class="examples__item"><a href="http://thecrabbiesgrandnational.co.uk">The Crabbies Grand National</a> - Frontend &amp; WordPress Development</li>
  </ul>

  <h2 class="h2">Contact</h2>
    <ul class="contact__list">
      <li class="contact__item">Email: <a href="mailto:enquiry@iampjl.co.uk">enquiry@frontendphil.com</a></li>
      <li class="contact__item">Telephone: <a href="tel:03334441250">0333 444 1250</a></li>
      <li class="contact__item">Twitter: <a href="https://twitter.com/frontendphil">@frontendphil</a></li>
      <li class="contact__item">LinkedIn: <a href="https://uk.linkedin.com/in/frontendphil">Profile</a></li>
      <li class="contact__item">Trello: <a href="http://bit.ly/life-list">Life List</a></li>
    </ul>
</div>
