---
title: Phil Lennon (frontendphil) - Freelance Frontend, UI and Hybrid App Developer in Manchester
description: Providing bespoke, hand crafted websites and hybrid apps on a freelance basis. Based in Manchester, United Kingdom.
layout: default.hbs
permalink: false
appName: home
priority: 1.0
public: true
---

<header class="block photo m-t-1">
  <div class="block__inner container">
    <div class="photo__primary">
      <h1 class="h1">frontendphil</h1>
      {{!>available-techforgood }}
      {{!>available-yes }}
      {{>available-no date='December'}}
      <p>Phil Lennon - A Freelance Frontend UI Developer, Hybrid App Developer, Tech for Good enthusiast &amp; occasional Speaker.</p>
      <p>Based in Manchester or working remotely. Temporary relocation would be considered for the right project.</p>
      <p>Specialises in: UI Performance, Accessibility, Object Orientated/BEMIT &amp; Scoped CSS, Angular 2+, Vue.js, Ionic 3, Webpack &amp; Prismic.</p>
    </div>
    <div class="photo__secondary">
      <picture>
        <source srcset="{{path.url}}assets/img/frontendphil-portrait.jpg" media="(min-width: 700px)">
        <img srcset="{{path.url}}assets/img/frontendphil-landscape.jpg" alt="Picture of me (Phil Lennon) speaking at Frontend North 2016">
      </picture>
    </div>
  </div>
</header>

<div class="block">
  <div class="block__inner container">
    <h2 class="h2">Experience</h2>
    <p class="m-b-1">12 years professional experience.</p>

    <div class="block__split">
      <p>Projects:</p>
      <ul>
        <li>SeeSaw by Netmums App <br /> <small>Featured by Apple on the App Store 'New Apps We Love'</small></li>
        <li>Quorn,</li>
        <li>Adidas,</li>
        <li>NSPCC,</li>
        <li>Street Support,</li>
        <li>Powerleague,</li>
        <li>Manchester Metropolitan University Fashion Institute,</li>
        <li>The Crabbies Grand National,</li>
        <li>The Peel Group,</li>
        <li>Universal Orlando.</li>
      </ul>
    </div>

    <div class="block__split">
      <p>Worked at:</p>
      <ul>
        <li>Anything Agency (x5),</li>
        <li>Building Blocks (x3),</li>
        <li>Havas Lynx (x2),</li>
        <li>Manchester Airport Group,</li>
        <li>Rental Cars,</li>
        <li>Amaze,</li>
        <li>Reason Digital,</li>
        <li>Loaf Creative,</li>
        <li>Health and Safety Executive.</li>
      </ul>
    </div>
  </div>
</div>

<div id="contact" class="block m-b-1">
  <div class="block__inner container">
    <h2 class="h2">Contact</h2>
    <ul>
      <li>Email: <a href="mailto:enquiry@frontendphil.com">enquiry@frontendphil.com</a>,</li>
      <li>Telephone: <a href="tel:+443334441250">0333 444 1250</a>,</li>
      <li>Twitter: <a href="https://twitter.com/frontendphil">@frontendphil</a>,</li>
      <li>Github: <a href="https://github.com/fephil">fephil</a>,</li>
      <li>LinkedIn: <a href="https://www.linkedin.com/in/frontendphil">frontendphil</a>,</li>
      <li>Trello: <a href="http://bit.ly/life-list">Life Goals List</a>,</li>
      <li>Instagram: <a href="https://www.instagram.com/philjameslennon/">philjameslennon</a>.</li>
    </ul>
  </div>
</div>
