<footer class="footer m-t-1" role="contentinfo">
  <div class="footer__inner container">
    <ul class="list-horizontal">
      <li class="list-horizontal__item"><small>&copy; 2016 - 2017 Phil Lennon</small></li>
      <li class="list-horizontal__item"><small>Akuda Ltd. Company No. 8149695</small></li>
      <li class="list-horizontal__item"><small><a href="https://github.com/fephil/frontendphil.com-v1/">Website source code</a></small></li>
    </ul>
  </div>
</footer>
