<p>Sign up to my Mailchimp list to get an immediate email notification when I'm available.</p>
<p>I will only ever send a very occasional email about my availability. No spam, no other messages, no selling. Ever.</p>

<form action="https://frontendphil.us12.list-manage.com/subscribe/post?u=6fa016898096a65e9bc5804b6&amp;id=68b436658f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form" target="_blank" novalidate>
  <label for="mce-EMAIL" class="form__label hide-screen">Email Address:</label>
  <input type="email" value="" name="EMAIL" class="form__input" id="mce-EMAIL" placeholder="Email Address">
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6fa016898096a65e9bc5804b6_68b436658f" tabindex="-1" value=""></div>
  <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="form__submit">
</form>
